* {
    margin: 0;
    padding: 0;
    font-family: 'Supermercado One', cursive;
    box-sizing: border-box;
}

header {
    background-color: rgb(22, 22, 22);
}

.head {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0px;
}

.logo {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.logo a{
    text-decoration: none;
    font-family: 'Domine', serif;
    font-size: 30px;
    color: #fff;
}

.under-letter {
    font-size: 8px;
    color: #fff;
    text-align: center;
}

.nav-bar {
    margin-top: 20px;
}
.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li {
    list-style-type: none;
    justify-content: space-between;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    justify-content: space-around;
    transition: 0.2s color ease-in,
                0.2s color ease-in;
}

.nav-bar ul li a:hover {
    color: rgb(238, 79, 22);
}

.nav-bar ul li a:active {
    color: rgba(156, 124, 112, 0.74);
}

.content {
    background-image: url(../image/staffs.jpg);
    height: 370px;
    text-align: center;
}

.financial {
    color:rgb(238, 79, 22);
    padding-top: 250px;
}

.financial p {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Domine', serif;
}

.about {
    background-color: rgb(22, 22, 22);
    color: #fff;
}
.container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 42px;
    background-color: rgb(22, 22, 22);
    padding: 30px 20px;
    border-bottom: 3px solid rgb(54, 53, 53);
}

.container div {
    width: 10%;
    margin-left: 10px;
}

.resourse-image {
    width: 50px;
}

.resourse-heading {
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0px;
}

.resourse-text {
    font-size: 10px;
}

.service {
    width: 100%;
    background-color: rgb(22, 22, 22);
}

.service-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 0 20px 0;
    border-bottom: 3px solid rgb(54, 53, 53);
}

.person {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.img-text {
    display: flex;
    flex-direction: row;
}

.img-text p {
    font-size: 8px;
    margin-top: 10px;
}
.person-img {
    width: 70px;
    border: 5px solid rgb(46, 46, 46);
}

.feature {
    width: 50%;
    color: #fff;
}

.service-heading {
    font-size: 20px;
    margin: 20px 0;
    text-transform: uppercase;
}

.icon {
    font-size: 15px;
    background-color:rgb(238, 79, 22);
    border-radius: 50%;
    color: #000;
    width: 20px;
    margin:0 20px;
    text-align: center;
}

.icon-text {
    display: flex;
    flex-direction: column;
}

.heading-text {
    text-align: start;
}

.feature-context {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}
.feature-heading {
    font-size: 13px;
}

.feature-text {
    font-size: 8px;
}

.clients {
    width: 100%;
    background-color: rgb(22, 22, 22);
    border-bottom: 3px solid rgb(46, 46, 46);
    color: #fff;
    display: flex;
}

.clients-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    padding: 25px 0;
}

.clients-heading {
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

.client-logo {
    display: flex;
    font-size: 30px;
    margin: 0 auto;
}

.client-logo p {
    border-right: 2px solid rgb(54, 53, 53);
    padding: 0 15px;
}

.client-logo p:last-child {
    border-right: 0px ;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 507px;
    background-color: black;
    padding: 40px 0;
    text-align: center;
}

.social-icons {
    background-color: rgb(238, 79, 22);
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
    padding: 3px;
}

.social-icons img {
    width: 20px;
}

.social-networks {
    display: flex;
    margin: 0 auto;
}

.footer-logo {
    margin-top: 20px;
}